@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
nav{
    background-color: #E9E3CE;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 80px;
    margin-left: -20px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}
nav li{
    margin-right: 100px;
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
nav li a:hover{
    background-color: #a39973;
    color: white;
    box-shadow: 5px 5px 5px #938f8f;
    transition: 0.3s;
}
.botlogin{
    background: #F5F1E2;
    font-size: 17px;
    color: black;
    border: 1px solid;
    border-color: black;
    border-radius: 90px;
    height: 35px;
    width: 90px;
    margin-right: -70px;
    transition: 0.3s;
}
.botlogin:hover{
    background-color: #a39973;
    color: white;
    box-shadow: 5px 5px 5px #938f8f;
    border: hidden;
    cursor: pointer;

}
.inicial{
    display: grid;
    grid-template-columns: 250px 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.rank{
    border-color: black;
    border-radius: 90px;
    height: 90px;
    width: 35px;
}
.carrousel{
    border-color: black;
    border-radius: 90px;
    height: 90px;
    width: 35px;
}
footer{
    background-color: #E9E3CE;
    border: black;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* altura do rodapé */
  }

footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 10px;
    width: 100%;
}
footer li{
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.botrede{
    background-color: #F5F1E2;
    color: black;
    border: 1.7px solid;
    border-color: black;
    border-radius: 90px;
    height: 50px;
    width: 50px;
    align-items: center;
    transition: 0.3s;
}
.botrede:hover{
    background-color: #ffffff;
    color-scheme: white;
    box-shadow: 5px 5px 5px #938f8f;
    border: hidden;
    cursor: pointer;
}
.botemp1{
    margin: 20px;
    padding: 10px;
    background-color: #F5F1E2;
    color: black;
    border-color: #0000;
    border: 1.7px solid;
    border-radius: 90px;
    align-items: center;
    transition: 0.3s;
}
.botemp1 p{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.botemp1 h1{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.botemp1:hover{
    background-color: #a39973;
    color-scheme: white;
    box-shadow: 5px 5px 5px #938f8f;
    border: hidden;
    cursor: pointer;
}
.botemp2{
    margin: 20px;
    padding: 10px;
    background-color: #F5F1E2;
    color: black;
    border-color: #0000;
    border: 1.7px solid;
    border-radius: 90px;
    align-items: center;
    transition: 0.3s;
}
.botemp2 p{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.botemp2 h1{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.botemp2:hover{
    background-color: #a39973;
    color-scheme: white;
    box-shadow: 5px 5px 5px #938f8f;
    border: hidden;
    cursor: pointer;
}